/* Estilo de Fondo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    flex-direction: column;
}

/* Contenedor del encabezado */
.header {
    margin-bottom: 10px;
}

/* Contenedor principal de la página del juego */
.game-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    gap: 15px; /* Añadido para ajustar la separación entre secciones */
}

/* Sección de Chat */
.chat-container {
    flex: 0.8; /* Reducir tamaño del chat */
    min-width: 220px;
    max-width: 300px;
    padding: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
}

/* Sección de Decisiones */
.decision-form {
    flex: 1; /* Mantener tamaño medio */
    max-width: 350px;
    padding: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
}

/* Sección de Resultados */
.results-container {
    flex: 1;
    min-width: 280px;
}

/* Ajustes de los contenedores */
#decisionForm,
#results,
#chatMessages {
    padding: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
}

/* Ajuste de los títulos */
h3 {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Ajustes para formulario de decisiones */
#decisionForm input,
#decisionForm button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

/* Estilo del botón de Enviar */
#decisionForm button {
    background-color: #0078d7;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#decisionForm button:hover {
    background-color: #0063b1;
}

#decisionForm button:active {
    background-color: #005499;
}

/* Ajustes del chat */
#chatMessages {
    height: 400px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

/* Resultados del juego */
#resultsOutput {
    min-height: 400px;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #0078d7;
    background-color: #e6f0ff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
}
/* Estilo del botón de Enviar */
#chat button {
    background-color: #0078d7;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
